@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$white = {
  "base":       #f5f5f5
}

$theme := {
  primary: $blue.darken-3
  accent: $yellow.darken-3
  secondary: $white.base
  info: $red.lighten-1
  warning: $orange.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

@import '../../node_modules/vuetify/src/stylus/main'
